#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
pandas
h5py
keras
sklearn
#
###### Requirements with Version Specifiers ######
#
###### Refer to other requirements files ######
#
#
###### A particular file ######
#
###### Additional Requirements without Version Specifiers ######
#
